# Git Configuration
# Managed by chezmoi

[user]
    name = {{ .git_name }}
    email = {{ .git_email }}
{{- if .git_signing_key }}
    signingkey = {{ .git_signing_key }}
{{- end }}

[commit]
    gpgsign = true

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers

[init]
    defaultBranch = main

[pull]
    rebase = true

[core]
    editor = code --wait
